# Arquivos e diretórios de build
bin/
obj/
Debug/
Release/
FileContent/
v17/

# Configurações locais de usuário
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos do Visual Studio
.vscode/
.vs/

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Dependências
packages/
