header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    width: 200px;
    font-size: 24px;
    color: var(--color-primary-6);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.menu-icons {
    display: none; /* Ícones inicialmente escondidos */
    width: 100vw; /* Largura total da tela */
    justify-content: space-between; /* Espaça os ícones automaticamente */
    color: var(--color-neutral-1);
}

/* Quando a classe "active" é adicionada, os ícones aparecem */
.menu-icons.active {
    display: block; /* Exibe os ícones */
    font-size: 30px;
}

#container_menu{
    height: 30px;
    display: none;
    justify-content: space-between;
}

.cont-carrinho{
    border-radius: 50%; /* Deixa o botão redondo */
    border: none;
    font-size: 30px;
    color: var(--color-primary-6);
}

.cont-balao{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
    padding: 5px; /* Pequeno ajuste para centralização melhor */
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #333;
    position: relative; /* Define como referência para posicionamento absoluto */
    background-color: aliceblue;
    border-radius: 100%;
}

.menu-item i {
    font-size: 18px; /* Tamanho dos ícones */
    margin-bottom: 5px; /* Espaço entre o ícone e o texto */
}

.menu-item span {
    font-size: 11px; /* Texto menor abaixo do ícone */
    line-height: 1; /* Ajusta a altura da linha para ficar mais compacto */
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #nav_logo {
        font-size: 30px;
        width: 300px;
    }

    /* Estilo inicial dos ícones, no modo normal (sem estar ativo) */
.menu-icons {
    display: block; /* Ícones inicialmente escondidos */
    font-size: 25px;
}

/* Quando a classe "active" é adicionada, os ícones aparecem */
.menu-icons.active {
    display: block; /* Exibe os ícones */
    font-size: 25px;
}

#container_menu{
    display: flex;
    justify-content: space-between;
}

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 4;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}